  .coin-container {
    display: flex;
    justify-content: center;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    padding: 10px;
  }

  .coin-container:hover {
      transform: scale(1.05);
      background: rgba(255, 255, 255, 0.28);
      backdrop-filter: blur(12px);
      border-radius: 16px;
  }

  .coin-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 900px;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
  
    min-width: 300px;
  }
  
  .coin h1 {
    font-size: 16px;
    width: 150px;
  }
  
  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .coin-symbol {
    text-transform: uppercase;
  }
  
  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }
  
  .coin-price {
    width: 100px;
  }
  
  .coin-volume {
    width: 155px;
  }
  
  .coin-marketcap {
    width: 230px;
  }
  
  .coin-percent {
    width: 100px;
  }
  
  .red {
    color: #ff6600;
  }
  
  .green {
    color: #008371;
  }