@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.Coin-App {
  background: linear-gradient(248.78deg, rgba(178, 117, 255, 0.73) 13.85%, rgba(112, 0, 255, 0) 99.48%), linear-gradient(111.58deg, rgba(255, 0, 0, 0.45) 18.8%, rgba(231, 22, 22, 0) 100%), #8F00FF;  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #ffff;
  /* color: #ffff; */
}

.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.coin-text{
  margin-bottom: 32px;
  text-align: center;
}


.coin-input{
  padding-left:  16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  mix-blend-mode: multiply;
  color: rgb(255, 255, 255);
}

.coin-input::placeholder{
  font-size: 20px;
  color: rgb(0, 0, 0);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #ae5adf;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(223, 191, 191, 60%);
  border-radius: 10px;
}